.btn {
  padding: 0.5rem 1.5rem;
  color: var(--font-color-light);
  background-color: var(--color-secondary);
  border-radius: 5px;
  margin: 2.5rem 0;
  border: none;
}

.question-card__button {
  padding: 1rem 3rem;
}

.btn:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.11);
  background-color: var(--color-secondary-dark);
}

.btn__create {
  font-size: 2.4rem;
  padding: 1.5rem 4.5rem;
  border: none;
  text-transform: uppercase;
}

.btn__profile {
  text-align: center;
  font-size: 2.4rem;
  padding: 1.5rem 4.5rem;
  border: none;
  text-transform: uppercase;
}
