.profile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 2rem;
  color: var(--font-color-light);
}

.profile__photo {
  /* hard coded - not possible with percentage */
  width: 20rem;
  height: 20rem;
  grid-column: 2 / 8;
  border-radius: 50%;
}

.profile__name {
  grid-column: 9 / -1;
  align-self: center;
  text-transform: uppercase;
}

.profile__text {
  grid-column: 2 / -2;
  width: 100%;
  font-size: 1.8rem;
}

.skills {
  color: var(--font-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__tags {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.skills__tags li {
  font-size: 1.6rem;
  padding: 0.15rem 1.25rem;
  margin: 0 1rem;
  color: white;
  background-color: var(--color-primary-light);
  border-radius: 5px;
  margin-bottom: 2rem;
}

li:active,
.skills__tags li:hover
 {
  background-color: var(--color-primary-dark);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);
}
